<!DOCTYPE html>
<html>
  <head>
    <title>ProjectDjello</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="App">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Djello</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a ui-sref="boards">Board</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right" ng-controller="BoardsCtrl">


              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Welcome</b>, {{ currentUser.email }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Account</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#"><a data-method="delete" href="/users/sign_out" rel="nofollow">Logout</a></a></li>
                </ul>
              </li>


          </ul>
        </div>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
